<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form [formGroup]="loginForm" class="user" (ngSubmit)="login()">
                                    <div class="form-group">
                                        <input type="email" formControlName="email"  class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Enter Email Address...">
  
                                            <div *ngIf="email.touched && email.invalid">
                                                <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
                                                <small class="text-danger" *ngIf="email.errors.email">Email is invalid</small>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" formControlName="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password">
                                            
                                            <div *ngIf="password.touched && password.invalid">
                                                <small class="text-danger" *ngIf="password.errors.required">Password is required</small>
                                                <small class="text-danger" *ngIf="password.errors.minlength">Password must contain 6 characters at least</small>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Remember
                                                Me</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Login
                                    </button>
                                    <hr>
                                 
                                </form>


                                <hr>
                                <div class="text-center">
                                    <a class="small" routerLink="/resetpassword">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" routerLink="/register">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>